.layout{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 64px; 
    background: #eee;
}
.layout_content{
    width: 100%;
    height: 100%;
}
.slide{
    width:200px;
    height: 100%;
    background: #ccc;
    float: left;
    background: #001529;
    font-size: 14px;
}

.content{
   padding: 30px;
    float: left;
}
