:global .home_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:global .home_wrapper .home_header {
  width: 100%;
  height: 64px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

:global .home_wrapper .home_header .home_logo {
  width: 160px;
  line-height: 64px;
}

:global .home_wrapper .home_header .home_logo img {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

:global .home_wrapper .home_content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

:global .home_wrapper .home_content .home_right {
  flex: 1;
  overflow: hidden;
}
